name: flutter_azimuth
description: A Flutter Compass Tools Implementation, is the plugin that measure The Azimuth is the angle between magnetic north, and the the orientatin of the device.
version: 1.0.1
homepage: https://github.com/ymrabti

environment:
  sdk: ">=2.16.1 <3.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.ymrabtipacks.flutter_azimuth
        pluginClass: FlutterAzimuthPlugin
      ios:
        pluginClass: FlutterAzimuthPlugin
